    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About LoroCam</h2>
              <p>LoroCam is a camcorder with which you can add many sound effects to your videos while you are recording them</p>
              <p>If one of your friends tells a joke, you can add the sound of people laughing directly while you are recording the video with your video camera app</p>
              <p>Or if you are recording the video of someone doing something awesome, you can add the sound of people clapping</p>
              <p>Your video camera was never so fun</p>
              <p>All you need to become a funny youtuber is LoroCam camcorder and your imagination</p>
              <p>You have a lot of sound effects like applauses, laughs, dogs barking, witches, robots, shoots and many more to pick in your video camera app</p>
              <p>Let's go to have fun with <a href="https://play.google.com/store/apps/details?id=com.arcadexxi.lorocam_sdk22">LoroCam</a>, it's free!</p>
              </div>
        </div>
    </section>
